<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
    <div id="map"></div>

<script type="text/Javascript">
// Create map 
function initMap(){
    var data = JSON.parse(document.getElementById('data').value); 
    var test = data.slice(0, 500);

    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 13,
        center: { "lat": 37.8715, "lng": -122.2730 },
        mapTypeId: "terrain",
    });
    const directionPath = new google.maps.Polyline({
        path: test,
        geodesic: true,
        strokeColor: "#FF0000",
        strokeOpacity: 0.5,
        strokeWeight: 4,
    });
    directionPath.setMap(map);
} initMap();
</script>
<h1>Testing</h1>
<h2>{{route}}</h2>
<input type="hidden" id="data" value="{{ route }}"/>
</body>