<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
  <nav class="navbar navbar-expand-lg bg-dark border" data-bs-theme="dark" style="margin-bottom: 30px solid #bf4124">
    <div class="bi bi-plugin mr-5" style="padding-left: 10px; font-size: 32px;"></div>
    <span class="navbar-brand mb-0 h1" style="padding-left: 10px; font-size: 32px;"><a href="/" style="text-decoration: none; color: white;">ChargeHub</a></span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0" action="/search">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="result">
      </form>
      <a class="nav-link" href="#" style="font-size: 24px; margin-right: 5%; margin-left: 55%">Home</a>
      <a class="nav-link" href="#" style="font-size: 24px;">Sign In</a>
    </div>
  </nav>
  <div id="map" style="width: 72%; height: 102%; margin: 0; padding: 0; float: left; border-right: solid 10px #bf4124;"></div>
  
  <script type="text/Javascript">
    var num = 0; 
    // Create map 
    function initMap(){
      const data = JSON.parse(document.getElementById('data').value)
      console.log(data)
      var map = new google.maps.Map(document.getElementById("map"), {
        center: {lat: {{locale[0]}}, lng: {{locale[1]}}},
        zoom: 13
      })
      // Create Marker window pop-ups 
      var infowindow = new google.maps.InfoWindow({}); 
      data.forEach(location => {
        const contentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        `<h5 id="firstHeading" class="firstHeading">${location.station_name}</h5>` +
        `<p>Network: ${location.ev_network}</br>` +
        `${location.street_address} ${location.city}, ${location.state} ${location.zip}` +
        `<br>Phone: ${location.station_phone}</p>` + 
        "</div>" +
        "</div>";
        num = num + 1
        var marker = new google.maps.Marker({
          position: {lat: location.latitude, lng: location.longitude}, 
          map: map,
          label: String(num)
        });  
        // assign click events for each marker 
        google.maps.event.addListener(marker, "click", () => {
          infowindow.setContent(contentString);
          infowindow.open(map, marker);   
          select_row = document.getElementsByClassName("list-group")[marker.label - 1];
          select_row.style.backgroundColor = '#bf4124';
          select_row.scrollIntoView({behavior: "smooth"});
        });
      })
    } initMap() 
  </script>
  <h2 style="font-family: 'Chivo Mono'; font-weight: bold; font-size: 20px; letter-spacing: .10em; text-align: center; padding: 10px;"> Nearby Stations </h2>
  <div style="width: 25%; height: 95%; float: right; overflow-y: auto; margin-right: 30px; font-size: 14px;"> 
  {% for i in data %}
  <ul class="list-group">
    <li class="list-group-item-dark" style="color: white;">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div>Station: {{i.station_name}}</div>
            <div>Address: {{i.street_address}} {{i.city}} {{i.state}} {{i.zip}}</div>
            <div>Phone: {{i.station_phone}}</div>
            <div>Hours of Operation: {{i.access_days_time}}</div>
          </div>
          <div class="col-6">
            <div>Network: {{i.ev_network}}</div>
            <div>Access: {{i.access_code}}</div>
          </div>
        </div>
      </div>
      <br>
    </li>
  </ul>
  {% endfor %}
  </div>
  
  <input type="hidden" id="data" value="{{ raw }}"/>
</body>
</html>