<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzJJ6fNaERr3gzPlQQoCFlolR_jX0jjkY&callback=initMap" async defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,500&display=swap" rel="stylesheet">
        <title>Hub</title>
         
      </head>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark border" data-bs-theme="dark" style="margin-bottom: 30px solid #bf4124">
    <div class="bi bi-plugin mr-5" style="padding-left: 10px; font-size: 32px;"></div>
    <span class="navbar-brand mb-0 h1" style="padding-left: 10px; font-size: 32px;"><a href="/" style="text-decoration: none; color: white;">ChargeHub</a></span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0" action="/search">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="result">
      </form>
      <a class="nav-link" href="#" style="font-size: 24px; margin-right: 5%; margin-left: 55%">Home</a>
      <a class="nav-link" href="#" style="font-size: 24px;">Sign In</a>
    </div>
  </nav>
  <h1 style="font-family: 'Chivo Mono', monospace; color: white;">Response:</h1>
  <div style="color: white"> 
  {% for i in data.fuel_stations %}
  <ul class="list-group">
    <li class="list-group-item-dark" style="color: white;">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div>Station: {{i.station_name}}</div>
            <div>Address: {{i.street_address}} {{i.city}} {{i.state}} {{i.zip}}</div>
            <div>Phone: {{i.station_phone}}</div>
            <div>Hours of Operation: {{i.access_days_time}}</div>
          </div>
          <div class="col-6">
            <div>Network: {{i.ev_network}}</div>
            <div>Access: {{i.access_code}}</div>
            <div>Connector Types: {{i.ev_connector_types[0]}}</div>
          </div>
        </div>
      </div>
      <br>
    </li>
  </ul>
  {% endfor %}
  </div>
  <input type="hidden" id="data" value="{{ data }}"/>
</body>
</html>